{
  "extends": "auto",
  "plugins": ["import-helpers"],
  "rules": {
    "prettier/prettier": ["error"],
    "@typescript-eslint/no-redeclare": [
      "error",
      {
        "builtinGlobals": false
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react$/",
          "module",
          "/^@/",
          "/^config/",
          "/^domains/",
          "/^utils/",
          "/^hooks/",
          "/^assets/",
          "/^components/",
          "/^pages/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "simple-import-sort/imports": 0,

    "react/require-default-props": 0,

    "import/prefer-default-export": 0,

    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  }
}
